#main-content header {
	background-color: #06A;
	border-bottom: 3px solid #09F;
	color: white;
	height: 80px;
	width: 100%;
}
.site-select {
	border: none;
}
.site-select:hover {
	cursor: pointer;
	border-bottom: 3px #09F solid !important;
}
#main-content header h1{
	float: left;
	font-size: 26px;
	padding: 15px;
}
#nav {
	margin-top: 15px;
	background: #222;
	padding: 15px;
}
#nav label{
	color: white;
	border-bottom: 2px solid #eee;
}
#nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding: 5px;
}
#nav li {
	cursor: pointer;
	padding: 3px;
}
#nav li:hover {
	background: #09F;
}
#nav #sites li {
	color: white;
}
#nav #sub-menu li {
	color: white;
}
#content-column {
	width: 100% !important;
}
#TPS-Viewer {
	background-color: #101214;
	float: left;
	width: 100%;
	margin: 0 auto;
}
#tps-viewer-menu {
	float: left;
	padding: 5px;
	width: 40%;
}
#content-wrapper {
	max-width: 704px;
	min-height: 480px;
	float: right;
	padding: 15px;
	width:60%;
}
#content-wrapper #controls {
	margin-bottom: 10px;
}
#nvf-frame {
	position: relative !important;
}
#nvf-frame img {
	width: 100% !important;
	height: auto !important;
}
#controls label {
	color: white;
}
#mapMaker {
	background: url('img/map-icon.png');
	background-size: 48px 48px;
	height: 48px;
	width: 48px;
}
#listMaker {
	background: url('img/grid-icon.png');
	background-size: 48px 48px;
	height: 48px;
	width: 48px;
	float: right;
}
#map-view {
	width: 100%;
	height: 300px;
	display: none;
}
.slider {
	margin-bottom: 15px;
}
.ui-slider-handle {
	text-align: center;
	text-decoration: none;
	width: 100px !important;
}
#player-controls {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	opacity: 0.2;
	background-color: black;
}
#player-controls:hover {
	opacity: 0.8;
}
button.play-pause {
	background: none;
	color: white;
	border: 1px dotted white;
	font-size: 2.5em;
}

/** Camera Actions */
.camera-action {
	border: 0;
	width: 48px;
	height: 48px;
	background-size: 48px 48px;
	cursor: pointer;
}
.camera-action:hover {
	border-bottom: 3px solid #09F;
}
.home-action {
	background: url('img/camera-actions/home.png');
}
.focus-near {
	background: url('img/camera-actions/focus_near.png');
}
.focus-far {
	background: url('img/camera-actions/focus_far.png');
}
.focus-auto {
	background: url('img/camera-actions/autofocus.png');
}
.zoom-in {
	background: url('img/camera-actions/zoom_in.png');
}
.zoom-out {
	background: url('img/camera-actions/zoom_out.png');
}
.zoom-in {
	background: url('img/camera-actions/zoom_in.png');
}
.iris-close {
	background: url('img/camera-actions/iris_close.png');
}
.iris-open {
	background: url('img/camera-actions/iris_open.png');
}
.iris-auto {
	background: url('img/camera-actions/iris_auto.png');
}
.pan-right {
	background: url('img/camera-actions/direction.png');
}
.pan-left {
	background: url('img/camera-actions/direction.png');
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-moz-transform:rotate(180deg); /* Firefox */
	-webkit-transform:rotate(180deg); /* Safari and Chrome */
	-o-transform:rotate(180deg); /* Opera */
}
.pan-left:hover {
	border-bottom: none;
	border-top: 3px solid #09F;
}
.tilt-up:hover {
	border-bottom: none;
	border-left: 3px solid #09F;
}
.tilt-down:hover {
	border-bottom: none;
	border-right: 3px solid #09F;
}
.tilt-down {
	background: url('img/camera-actions/direction.png');
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-moz-transform:rotate(90deg); /* Firefox */
	-webkit-transform:rotate(90deg); /* Safari and Chrome */
	-o-transform:rotate(90deg); /* Opera */
}
.tilt-up {
	background: url('img/camera-actions/direction.png');
	transform:rotate(270deg);
	-ms-transform:rotate(270deg); /* IE 9 */
	-moz-transform:rotate(270deg); /* Firefox */
	-webkit-transform:rotate(270deg); /* Safari and Chrome */
	-o-transform:rotate(270deg); /* Opera */
}
#controls {
	text-align: center;
}