.content-inner {
	margin: 0 !important;
}
#main-content header {
	background-color: #06A;
	border-bottom: 3px solid #09F;
	color: white;
	height: 80px;
	width: 100%;
}
.site-select {
	border: none;
}
.site-select:hover {
	cursor: pointer;
	border-bottom: 3px #09F solid !important;
}
#main-content header h1{
	float: left;
	font-size: 26px;
	padding: 15px;
}
#nav {
	margin-top: 15px;
	background: #222;
	padding: 15px;
}
#nav label{
	color: white;
	border-bottom: 2px solid #eee;
}
#nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding: 5px;
}
#nav li {
	cursor: pointer;
	padding: 3px;
}
#nav li:hover {
	background: #09F;
}
#nav #sites li {
	color: white;
}
#nav #sub-menu li {
	color: white;
}
#content-column {
	width: 100% !important;
}
#TPS-Viewer {
	background-color: #101214;
	float: left;
	width: 100%;
	margin: 0 auto;
}
#tps-viewer-menu {
	float: left;
	padding: 5px;
	width: 30%;
}
#content-wrapper {
	max-width: 704px;
	min-height: 480px;
	float: right;
	padding: 15px;
	width:60%;
}
#content-wrapper #controls {
	margin-bottom: 10px;
}
#nvf-frame {
	position: relative !important;
}
#nvf-frame img {
	width: 100% !important;
	height: auto !important;
}
#controls label {
	color: white;
}
#mapMaker {
	background: url('img/map-icon.png');
	background-size: 48px 48px;
	height: 48px;
	width: 48px;
}
#listMaker {
	background: url('img/grid-icon.png');
	background-size: 48px 48px;
	height: 48px;
	width: 48px;
	float: right;
}
#map-view {
	width: 100%;
	height: 300px;
	display: none;
}
.slider {
	margin-bottom: 15px;
}
.ui-slider-handle {
	text-align: center;
	text-decoration: none;
	width: 100px !important;
}
#player-controls {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	opacity: 0.2;
	background-color: black;
}
#player-controls:hover {
	opacity: 0.8;
}
button.play-pause {
	background: none;
	color: white;
	border: 1px dotted white;
	font-size: 2.5em;
}

/** Camera Actions */
.camera-action {
	border: 0;
	width: 48px;
	height: 48px;
	cursor: pointer;
	background: url('img/camera-actions.png');
	_background: url('img/camera-actions_ie6.png');
	*background: url('img/camera-actions_ie6.png');
}
.camera-action:hover {
	border-bottom: 3px solid #fff;
}
.zoom-in {
	background-position: 624px 0;
}
.zoom-out {
	background-position: 576px 0;
}
.pan-right {
	background-position: 528px 0;
}
.pan-left {
	background-position: 480px 0;
}
.tilt-down {
	background-position: 432px 0;
}
.tilt-up {
	background-position: 384px 0;
}
.iris-close {
	background-position: 338px 0;
}
.iris-open {
	background-position: 288px 0;
}
.iris-auto {
	background-position: 240px 0;
}
.focus-near {
	background-position: 192px 0;
}
.focus-far {
	background-position: 144px 0;
}
.focus-auto {
	background-position: 96px 0;
}
.home-action {
	background-position: 48px 0;
}

.zoom-in:hover {
	background-position: 624px 48px;
}
.zoom-out:hover {
	background-position: 576px 48px;
}
.pan-right:hover {
	background-position: 528px 48px;
}
.pan-left:hover {
	background-position: 480px 48px;
}
.tilt-down:hover {
	background-position: 432px 48px;
}
.tilt-up:hover {
	background-position: 384px 48px;
}
.iris-close:hover {
	background-position: 338px 48px;
}
.iris-open:hover {
	background-position: 288px 48px;
}
.iris-auto:hover {
	background-position: 240px 48px;
}
.focus-near:hover {
	background-position: 192px 48px;
}
.focus-far:hover {
	background-position: 144px 48px;
}
.focus-auto:hover {
	background-position: 96px 48px;
}
.home-action:hover {
	background-position: 48px 48px;
}
#controls {
	text-align: center;
}