/**
 * ===============================================
 *               NEES Telepresence
 * ===============================================
 * Content
 * -------
 * ..1) App Header
 * ..2) App Menu
 * ..3) App Content
 * ..4) App Controls
 * ....a) Player Controls
 * ....b) Camera Controls
 * ..5) Responsive
 * -----------------------------------------------
 */

.icon {
	color: white;
	background: none !important;
	padding: 15px 20px 15px 0;
	display: inline-block;
	width: auto;
	height: auto;
	line-height: default;
	vertical-align: text-top;
}

#telepresence-wrap.row {
	margin: 0;
}

.k-slider-horizontal {
    display: inline-block;
    float: left;
    width: 100%;
    height: 26px;
}

.k-slider-vertical {
    display: inline-block;
    float: left;
    width: 26px;
    height: 480px;
}

#player-controls {
	float: left;
}

#telepresence-wrap input {
	background: none;
	color: white;
}

/** 
 -------------------------------------------------
 1) App Header
 -------------------------------------------------
 */

#page-header, #main-content-header {
	background-color: #07C;
	color: white;
	height: 80px;
	width: 100%;
}
#page-title {
	float: left;
	font-size: 26px;
	padding: 15px;
	margin-top: 0;
	padding: 10px;
}
/** 
 -------------------------------------------------
 2) App Menu
 -------------------------------------------------
 */

#menu-header {
	padding: 0;
	background: #111;
	margin: 10px 0 0 0;
	border-bottom: 1px solid #eee;
}
#info-view .inner-view {
	padding: 5px;
}
#info-view {
	background: #eee;
	color: #222;
}

#help-tab {
	float: left;
	padding-top: 0;
}

#list-tab {
	float: right;
	padding-top: 0;
}

#telepresence-dashboard {
	clear: both;
	margin-top: 60px;
}

#site-list {
	margin: 0;
	padding: 0;
	background: #222;
	border: 1px solid #333;
}
.site, .camera {
	cursor: pointer;
	padding: 6px;
	margin-top: 5px;
	list-style: none;
	color: #ccc;
}
.site:hover {
	background: #008886;
}

.site.active {
	background: #111;
}
.site.active:hover {
	background: #111;
	cursor: default;
}
.cameras {
	display: none;
}
.cameras.active {
	display: block;
}
.cameras li{
	padding-left: 20px;
}
.cameras li:hover {
	background: #00aba9;
	color: #eee;
}
.site.active:after {
	content: "\25BC";
	float: right;
}
.site:after {
content: "\25B6";
float: right;
}

/** 
 -------------------------------------------------
 3) App Content
 -------------------------------------------------
 */
#telepresence-wrap {
	background-color: #101214;
	overflow: visible;
	padding: 15px;
	float: left;
	width: 1176px !important;
}
#telepresence-wrap header {
	background: #222;
	margin: 0;
	padding: 15px;
	margin-bottom: 10px;
	color: white;
}
#telepresence-wrap h3, #telepresence-wrap h4, #telepresence-wrap h5 {
	color: #eee;
	text-align: center;
}
#telepresence-menu {
	float: left;
	width: 33%;
}
#video {
	width: 65%;
	float: right;
}
#video img {
	width: 100%;
	background: #000;
}
#nvf-frame img.fullScreen {
	max-height: 100%;
}
#stream {
	height: 480px;
	width: 700px;
	margin-right: 10px;
	background: #000;
	float: left;
}
#stream .telepresence-message {
	top: 50%;
	margin-top: -1em;
	position: relative;
	width: 100%;
	text-align: center;
	color: #777;
}
/** 
 -------------------------------------------------
 4) App Controls
 -------------------------------------------------
 */

.fullScreen {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999999;
}

.transparentBar {
	position: absolute;
	bottom: 0;
	opacity: 0.2;
	-moz-opacity: 0.2;
	-o-opacity: 0.2;
	-wekbit-opacity: 0.2;
	background-color: black;
	z-index: -1;
}
.transparentBar:hover {
	opacity: 0.9;
	-moz-opacity: 0.9;
	-o-opacity: 0.9;
	-webkit-opacity: 0.9;
}
.transparentBox {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #222;
    opacity: 0.9;
    z-index: 499;
}

#video .k-slider-selection {
	background: none;
}
#video .k-label {
	display: none;
}

/** Camera Controls */
#controls {
	margin-top: 30px;
}
#player-controls {
	margin-top: 30px;
}

label {
	color: #ccc;
}

label[for='slider-tilt'] {
	float: right;
	margin-top: 240px;
	margin-left: 5px;
}

label[for='slider-pan'] {
	text-align: center;
}

.tp-row {
	margin-top: 10px;
	margin-bottom: 25px;
	float: left;
}

.left-col {
	float: left;
	width: 700px;
}

.right-col {
	float: left;
}

.input-controls {
	float: left;
}

.input-control {
	margin-bottom: 10px;
}

.slider-controls {
	float: right;
}

.control {
	padding-right: 25px;
	float: right;
	text-align: center;
}

.k-label {
	color: white !important;
}
.mini-control {
	height: 150px;
	clear: none;
}
/** 
 -------------------------------------------------
 5) Responsive
 -------------------------------------------------
 */

/** Tablet and Smartphone*/
@media all and (max-width: 680px) {
	#tps-viewer-menu {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	#content-wrapper {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	#options-menu {
		padding: 0;
	}
	#nav {
		padding: 0;
	}
	#player-controls {
		margin: 5px;
	}
	#slider {
		width: 60%;
	}
}
/** Widescreen */
@media all and (min-width: 1400px) {
	.camera-action {
		margin: 5px;
	}
}